requests~=2.31.0
BeautifulSoup4~=4.12.2
psycopg2~=2.9.9
pandas~=2.1.2
selenium~=4.15.2
seaborn~=0.13.0
webdriver_manager
matplotlib~=3.8.1
pip~=23.0.1
scipy~=1.11.3

html5lib~=1.1
soupsieve~=2.5
h11~=0.14.0
cffi~=1.16.0
Pillow~=10.1.0
attrs~=23.1.0
setuptools~=65.5.0
pytz~=2023.3.post1
trio~=0.23.1
outcome~=1.3.0.post0
sniffio~=1.3.0
exceptiongroup~=1.1.3
sortedcontainers~=2.4.0
idna~=3.4
numpy~=1.26.1
SQLAlchemy~=2.0.23
python-dateutil~=2.8.2
certifi~=2023.7.22
cycler~=0.12.1
six~=1.16.0
urllib3~=2.0.7
contourpy~=1.2.0
fonttools~=4.44.0
pycparser~=2.21
pyparsing~=3.1.1
packaging~=23.2
kiwisolver~=1.4.5
wsproto~=1.2.0
python-dotenv~=1.0.0